# Nettoyage des fichiers avant transfert dans MongoDB

### Imports

In [1]:
import pandas as pd

### Nettoyage fichier top_250_film

In [2]:
def time_minute (list = list):
    if len(list) == 5 :
        time_minute = str(int(list[0]) * 60 + int(list[3])) + "min"
    elif len(list) == 2 :
        time_minute = str(int(list[0])) + "min"
    else:
        time_minute = "Not time defined"
    return time_minute

In [3]:
df_film = pd.read_csv('csv/top_250_film.csv')

df_film

,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur
0,2022-12-14 16:55:26.342553,film,American History X,American History X,Crime,8.5/10,1998,Tous publics avec avertissement,"1,h, ,59,m",English,United States,A former neo-nazi skinhead tries to prevent hi...,"Edward Norton, Edward Furlong, Beverly D'Ange..."
1,2022-12-14 16:55:26.672845,film,Psycho,Psycho,Horror,8.5/10,1960,Tous publics avec avertissement,"1,h, ,49,m",NaN,United States,"A Phoenix secretary embezzles $40,000 from her...","Anthony Perkins, Vera Miles, John Gavin, Jane..."
2,2022-12-14 16:55:27.711765,film,The Shawshank Redemption,The Shawshank Redemption,Drama,9.3/10,1994,Tous publics avec avertissement,"2,h, ,22,m",English,United States,Two imprisoned men bond over a number of years...,"Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
3,2022-12-14 16:55:28.551555,film,Spirited Away,Sen to Chihiro no kamikakushi,Animation,8.6/10,2001,Tous publics,"2,h, ,5,m","Japanese,English",Japan,"During her family's move to the suburbs, a sul...","Rumi Hiiragi, Miyu Irino, Mari Natsuki, Takas..."
4,2022-12-14 16:55:28.857218,film,The Lion King,The Lion King,Animation,8.5/10,1994,Tous publics,"1,h, ,28,m","English,Swahili,Xhosa,Zulu",United States,Lion prince Simba and his father are targeted ...,"Rowan Atkinson, Matthew Broderick, Niketa Cal..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2022-12-14 16:59:01.517755,film,The Dark Knight,The Dark Knight,Action,9.0/10,2008,Tous publics,"2,h, ,32,m","English,Mandarin",United States,When the menace known as the Joker wreaks havo...,"Christian Bale, Heath Ledger, Aaron Eckhart, ..."
245,2022-12-14 16:59:01.860456,film,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,Action,9.0/10,2003,Tous publics,"3,h, ,21,m","English,Quenya,Old English,Sindarin",New Zealand,Gandalf and Aragorn lead the World of Men agai...,"Noel Appleby, Ali Astin, Sean Astin, David As..."
246,2022-12-14 16:59:01.885222,film,The Godfather,The Godfather,Crime,9.2/10,1972,Tous publics avec avertissement,"2,h, ,55,m","English,Italian,Latin",United States,The aging patriarch of an organized crime dyna...,"Marlon Brando, Al Pacino, James Caan, Richard..."
247,2022-12-14 16:59:02.041148,film,Schindler's List,Schindler's List,Biography,9.0/10,1993,Tous publics avec avertissement,"3,h, ,15,m","English,Hebrew,German,Polish,Latin",United States,"In German-occupied Poland during World War II,...","Liam Neeson, Ben Kingsley, Ralph Fiennes, Car..."
248,2022-12-14 16:59:02.185235,film,Scarface,Scarface,Crime,8.3/10,1983,Tous publics avec avertissement,"2,h, ,50,m","English,Spanish",United States,"In 1980 Miami, a determined Cuban immigrant ta...","Al Pacino, Steven Bauer, Michelle Pfeiffer, M..."

In [4]:
df_film['time'] = df_film['time'].apply(lambda x : x.split(","))
df_film['acteur'] = df_film['acteur'].apply(lambda x : x.split(","))

df_film['time'] = df_film['time'].apply(lambda x : time_minute(x))
# df_film['len'] = df_film['time'].apply(lambda x : len(x))

df_film = df_film.sort_values(by=['score', 'annee'], ascending=False)

df_film

,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur
2,2022-12-14 16:55:27.711765,film,The Shawshank Redemption,The Shawshank Redemption,Drama,9.3/10,1994,Tous publics avec avertissement,142min,English,United States,Two imprisoned men bond over a number of years...,"[ Tim Robbins, Morgan Freeman, Bob Gunton, ..."
246,2022-12-14 16:59:01.885222,film,The Godfather,The Godfather,Crime,9.2/10,1972,Tous publics avec avertissement,175min,"English,Italian,Latin",United States,The aging patriarch of an organized crime dyna...,"[ Marlon Brando, Al Pacino, James Caan, Ric..."
244,2022-12-14 16:59:01.517755,film,The Dark Knight,The Dark Knight,Action,9.0/10,2008,Tous publics,152min,"English,Mandarin",United States,When the menace known as the Joker wreaks havo...,"[ Christian Bale, Heath Ledger, Aaron Eckhar..."
245,2022-12-14 16:59:01.860456,film,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,Action,9.0/10,2003,Tous publics,201min,"English,Quenya,Old English,Sindarin",New Zealand,Gandalf and Aragorn lead the World of Men agai...,"[ Noel Appleby, Ali Astin, Sean Astin, Davi..."
247,2022-12-14 16:59:02.041148,film,Schindler's List,Schindler's List,Biography,9.0/10,1993,Tous publics avec avertissement,195min,"English,Hebrew,German,Polish,Latin",United States,"In German-occupied Poland during World War II,...","[ Liam Neeson, Ben Kingsley, Ralph Fiennes, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2022-12-14 16:56:22.604361,film,Mr. Smith Goes to Washington,Mr. Smith Goes to Washington,Comedy,8.1/10,1939,Tous publics,129min,NaN,United States,A naive youth leader is appointed to fill a va...,"[ Jean Arthur, James Stewart, Claude Rains, ..."
25,2022-12-14 16:55:43.586553,film,It Happened One Night,It Happened One Night,Comedy,8.1/10,1934,Tous publics,105min,NaN,United States,A renegade reporter trailing a young runaway h...,"[ Clark Gable, Claudette Colbert, Walter Con..."
39,2022-12-14 16:55:55.163560,film,The Incredibles,The Incredibles,Animation,8.0/10,2004,Tous publics,115min,"English,French",United States,"While trying to lead a quiet suburban life, a ...","[ Craig T. Nelson, Holly Hunter, Samuel L. J..."
20,2022-12-14 16:55:41.855201,film,Aladdin,Aladdin,Animation,8.0/10,1992,Tous publics,90min,English,United States,A kindhearted street urchin and a power-hungry...,"[ Scott Weinger, Robin Williams, Linda Larki..."
23,2022-12-14 16:55:42.764624,film,Life of Brian,Life of Brian,Comedy,8.0/10,1979,Tous publics avec avertissement,94min,NaN,United Kingdom,Born on the original Christmas in the stable n...,"[ Graham Chapman, John Cleese, Terry Gilliam..."

In [5]:
df_film['public'].value_counts()

Tous publics                       144
Tous publics avec avertissement    101
16+                                  2
18+                                  1
12+                                  1
Name: public, dtype: int64

In [8]:
df_film.to_csv('csv/top_250_film.csv', index=False)

### Nettoyage fichier top_250_serie

In [9]:
df_serie = pd.read_csv('csv/top_250_serie.csv')

df_serie

,date,scrap_type,title,original_title,score,annee,public,genre,saison,time,pays,langue,description
0,2022-12-14 16:59:12.978921,serie,Planet Earth II,Planet Earth II,9.5/10,2016,Tous publics,Documentary,1,"TV Mini Series,4,h, ,58,m",United Kingdom,English,David Attenborough returns with a new wildlife...
1,2022-12-14 16:59:16.867491,serie,True Detective,True Detective,8.9/10,2014–2019,16+,Crime,3,"TV Series,55,m",United States,English,Seasonal anthology series in which police inve...
2,2022-12-14 16:59:17.056074,serie,The Civil War,The Civil War,9.1/10,1990,14+,Documentary,1,"TV Mini Series,11,h, ,20,m",United States,NaN,A comprehensive survey of the American Civil War.
3,2022-12-14 16:59:17.227160,serie,Better Call Saul,Better Call Saul,8.9/10,2015–2022,16+,Crime,6,"TV Series,46,m",United States,English,The trials and tribulations of criminal lawyer...
4,2022-12-14 16:59:17.311134,serie,Dekalog,Dekalog,9.0/10,1989–1990,16+,Drama,1,"TV Mini Series,9,h, ,32,m",Poland,NaN,"Ten television drama films, each one based on ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2022-12-14 17:03:19.639127,serie,Chernobyl,Chernobyl,9.4/10,2019,16+,Drama,1,"TV Mini Series,5,h, ,30,m",United States,English,"In April 1986, an explosion at the Chernobyl n..."
242,2022-12-14 17:03:19.732088,serie,Planet Earth,Planet Earth,9.4/10,2006,Tous publics,Documentary,1,"TV Mini Series,8,h, ,58,m",United Kingdom,English,"Emmy Award-winning, 11 episodes, five years in..."
243,2022-12-14 17:03:19.785224,serie,Avatar: The Last Airbender,Avatar: The Last Airbender,9.3/10,2005–2008,7+,Animation,3,"TV Series,23,m",United States,English,"In a war-torn world of elemental magic, a youn..."
244,2022-12-14 17:03:20.693407,serie,Breaking Bad,Breaking Bad,9.5/10,2008–2013,16+,Crime,5,"TV Series,49,m",United States,English,A chemistry teacher diagnosed with inoperable ...
245,2022-12-14 17:03:20.716076,serie,Doctor Who,Doctor Who,8.6/10,2005–,Tous publics,Adventure,13,"TV Series,45,m",United Kingdom,English,The further adventures in time and space of th...

In [10]:
df_serie['saison'].value_counts()

 1    83
 3    28
 2    25
 4    21
 5    20
 6    17
 7     9
on     8
 8     7
 9     6
13     4
10     4
11     4
16     2
12     1
20     1
21     1
33     1
34     1
25     1
22     1
14     1
Name: saison, dtype: int64

In [11]:
def time_minute_serie (list = list):
    if len(list) == 6 :
        time_minute = str(int(list[1]) * 60 + int(list[4])) + "min"
    elif len(list) == 3 :
        time_minute = str(int(list[1])) + "min"
    else:
        time_minute = "Not time defined"
    return time_minute

In [12]:
df_serie['time'] = df_serie['time'].apply(lambda x : x.split(","))

df_serie['time'] = df_serie['time'].apply(lambda x : time_minute_serie(x))

df_serie = df_serie.sort_values(by=['score', 'annee'], ascending=False)

df_serie

,date,scrap_type,title,original_title,score,annee,public,genre,saison,time,pays,langue,description
228,2022-12-14 17:03:06.188469,serie,Bluey,Bluey,9.6/10,2018–,2+,Animation,3,7min,Australia,English,The slice-of-life adventures of an Australian ...
0,2022-12-14 16:59:12.978921,serie,Planet Earth II,Planet Earth II,9.5/10,2016,Tous publics,Documentary,1,298min,United Kingdom,English,David Attenborough returns with a new wildlife...
244,2022-12-14 17:03:20.693407,serie,Breaking Bad,Breaking Bad,9.5/10,2008–2013,16+,Crime,5,49min,United States,English,A chemistry teacher diagnosed with inoperable ...
112,2022-12-14 17:01:05.524049,serie,Bleach: Thousand-Year Blood War,Bleach: Sennen Kessen-hen,9.4/10,2022–,16+,Animation,1,24min,Japan,Japanese,The peace is suddenly broken when warning sire...
241,2022-12-14 17:03:19.639127,serie,Chernobyl,Chernobyl,9.4/10,2019,16+,Drama,1,330min,United States,English,"In April 1986, an explosion at the Chernobyl n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,2022-12-14 16:59:57.900724,serie,Futurama,Futurama,8.5/10,1999–2023,14+,Animation,10,22min,United States,English,"Philip J. Fry, a pizza delivery boy, is accide..."
68,2022-12-14 17:00:18.615442,serie,Whose Line Is It Anyway?,Whose Line Is It Anyway?,8.5/10,1998–2007,Tous publics,Comedy,8,30min,United States,NaN,Improvisational comedy competition show in whi...
57,2022-12-14 17:00:11.313588,serie,Neon Genesis Evangelion,Shin seiki evangerion,8.5/10,1995–1996,16+,Animation,1,24min,Japan,NaN,A teenage boy finds himself recruited as a mem...
15,2022-12-14 16:59:28.285512,serie,X-Men: The Animated Series,X-Men,8.5/10,1992–1997,7+,Animation,5,23min,United States,English,A team of mutant superheroes fight for justice...
34,2022-12-14 16:59:49.042187,serie,Alfred Hitchcock Presents,Alfred Hitchcock Presents,8.5/10,1955–1962,14+,Comedy,7,25min,United States,NaN,Series of unrelated short stories covering ele...

In [13]:
df_serie['public'].value_counts()

16+             110
14+              74
Tous publics     57
7+                4
2+                1
Name: public, dtype: int64

In [ ]:
df_serie.to_csv('csv/top_250_serie.csv', index=False)