In [2]:
import pymongo
from pymongo import ASCENDING, DESCENDING
import pandas as pd

### Connexion à MongoDB

In [3]:
client = pymongo.MongoClient("mongodb+srv://benalieur:C4qxymSvHupyQZG@imdbfilms.3qx7mj3.mongodb.net/test")

db = client["imdb"]
collection = db["films_series"]

#### Transformation des données time et score en integer et float

In [3]:
data = collection.aggregate([
    {
        "$project": {
            "time": {
                "$convert": {
                    "input": "$time",
                    "to": "int"
                }
            }
        }
    }
])

for doc in data:
    collection.update_one({"_id": doc["_id"]}, {"$set": {"time": doc["time"]}})

In [5]:
data = collection.aggregate([
    {
        "$project": {
            "score": {
                "$convert": {
                    "input": "$score",
                    "to": "double"
                }
            }
        }
    }
])

for doc in data:
    collection.update_one({"_id": doc["_id"]}, {"$set": {"score": doc["score"]}})

#### Question 1 : Quel est le film le plus long ?

In [9]:
long_film =[]
for i in collection.find({"scrap_type" : "film"}).sort("time", -1).limit(1):
    long_film.append(i)

long_film

[{'_id': ObjectId('639a249eca68ad3f59a2cd28'),
  'date': '2022-12-14 19:22:11.670179',
  'scrap_type': 'film',
  'title': 'Gone with the Wind',
  'original_title': 'Gone with the Wind',
  'genre': 'Drama',
  'score': 8.2,
  'annee': '1939',
  'public': 'Tous publics',
  'time': 238,
  'langue': '',
  'pays': 'United States',
  'description': 'The manipulative daughter of a Georgia plantation owner conducts a turbulent romance with a roguish profiteer during the American Civil War and Reconstruction periods.',
  'acteur': '[\' Thomas Mitchell\', " Barbara O\'Neil", \' Vivien Leigh\', \' Evelyn Keyes\', \' Ann Rutherford\']'}]

#### Question 2 : Quels sont les 5 films les mieux notés ?

In [16]:
note_film =[]
for i in collection.find({"scrap_type" : "film"}).sort("score", -1).limit(5):
    note_film.append(i)

df_note = pd.DataFrame(note_film)

df_note

,_id,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur
0,639a2495ca68ad3f59a2cc7c,2022-12-14 19:20:48.280536,film,The Shawshank Redemption,The Shawshank Redemption,Drama,9.3,1994,Tous publics avec avertissement,142,English,United States,Two imprisoned men bond over a number of years...,"[' Tim Robbins', ' Morgan Freeman', ' Bob Gunt..."
1,639a2496ca68ad3f59a2cc7d,2022-12-14 19:24:07.500507,film,The Godfather,The Godfather,Crime,9.2,1972,Tous publics avec avertissement,175,"English,Italian,Latin",United States,The aging patriarch of an organized crime dyna...,"[' Marlon Brando', ' Al Pacino', ' James Caan'..."
2,639a2496ca68ad3f59a2cc7f,2022-12-14 19:24:07.367294,film,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,Action,9.0,2003,Tous publics,201,"English,Quenya,Old English,Sindarin",New Zealand,Gandalf and Aragorn lead the World of Men agai...,"[' Noel Appleby', ' Ali Astin', ' Sean Astin',..."
3,639a2496ca68ad3f59a2cc80,2022-12-14 19:24:05.319186,film,Schindler's List,Schindler's List,Biography,9.0,1993,Tous publics avec avertissement,195,"English,Hebrew,German,Polish,Latin",United States,"In German-occupied Poland during World War II,...","[' Liam Neeson', ' Ben Kingsley', ' Ralph Fien..."
4,639a2496ca68ad3f59a2cc7e,2022-12-14 19:24:08.138709,film,The Dark Knight,The Dark Knight,Action,9.0,2008,Tous publics,152,"English,Mandarin",United States,When the menace known as the Joker wreaks havo...,"[' Christian Bale', ' Heath Ledger', ' Aaron E..."

#### Question 3 : Dans combien de films a joué Morgan Freeman ? Tom Cruise ?

In [4]:
note_film = list(collection.find({"$and": [{"scrap_type": "film"}, {"acteur": 2008}]}))

df_note = pd.DataFrame([doc.to_dict() for doc in note_film])

df_note

Empty DataFrame
Columns: []
Index: []

In [ ]:
client.close()