In [1]:
import pymongo
from pymongo import ASCENDING, DESCENDING
import pandas as pd

from bson.son import SON

### Connexion à MongoDB

#### Initialisation

In [2]:
client = pymongo.MongoClient("mongodb+srv://benalieur:C4qxymSvHupyQZG@imdbfilms.3qx7mj3.mongodb.net/test")

db = client["imdb"]
collection = db["films_series"]

print(type(client))
print(type(db))
print(type(collection))

<class 'pymongo.mongo_client.MongoClient'>
<class 'pymongo.database.Database'>
<class 'pymongo.collection.Collection'>

In [3]:
list_data = []

data = collection.find()

for i in data:
    list_data.append(i)

df = pd.DataFrame(list_data)

df

,_id,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur,saison
0,639ae923cd1eaa98f297a075,2022-12-15 09:34:23.621667,film,The Shawshank Redemption,The Shawshank Redemption,Drama,9.3,1994,Tous publics avec avertissement,142,English,United States,Two imprisoned men bond over a number of years...,"Tim Robbins, Morgan Freeman, Bob Gunton, Will...",NaN
1,639ae923cd1eaa98f297a076,2022-12-15 09:36:08.330718,film,The Godfather,The Godfather,Crime,9.2,1972,Tous publics avec avertissement,175,"English,Italian,Latin",United States,The aging patriarch of an organized crime dyna...,"Marlon Brando, Al Pacino, James Caan, Richard...",NaN
2,639ae924cd1eaa98f297a077,2022-12-15 09:36:09.040363,film,The Dark Knight,The Dark Knight,Action,9.0,2008,Tous publics,152,"English,Mandarin",United States,When the menace known as the Joker wreaks havo...,"Christian Bale, Heath Ledger, Aaron Eckhart, ...",NaN
3,639ae924cd1eaa98f297a078,2022-12-15 09:36:08.649635,film,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,Action,9.0,2003,Tous publics,201,"English,Quenya,Old English,Sindarin",New Zealand,Gandalf and Aragorn lead the World of Men agai...,"Noel Appleby, Ali Astin, Sean Astin, David As...",NaN
4,639ae924cd1eaa98f297a079,2022-12-15 09:36:06.909674,film,Schindler's List,Schindler's List,Biography,9.0,1993,Tous publics avec avertissement,195,"English,Hebrew,German,Polish,Latin",United States,"In German-occupied Poland during World War II,...","Liam Neeson, Ben Kingsley, Ralph Fiennes, Car...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,639ae943cd1eaa98f297a25f,2022-12-14 19:25:00.215494,serie,Futurama,Futurama,Animation,8.5,1999–2023,14+,22,English,United States,"Philip J. Fry, a pizza delivery boy, is accide...",NaN,10
491,639ae943cd1eaa98f297a260,2022-12-14 19:25:21.925998,serie,Whose Line Is It Anyway?,Whose Line Is It Anyway?,Comedy,8.5,1998–2007,Tous publics,30,,United States,Improvisational comedy competition show in whi...,NaN,8
492,639ae943cd1eaa98f297a261,2022-12-14 19:25:10.550865,serie,Neon Genesis Evangelion,Shin seiki evangerion,Animation,8.5,1995–1996,16+,24,,Japan,A teenage boy finds himself recruited as a mem...,NaN,1
493,639ae943cd1eaa98f297a262,2022-12-14 19:24:31.326814,serie,X-Men: The Animated Series,X-Men,Animation,8.5,1992–1997,7+,23,English,United States,A team of mutant superheroes fight for justice...,NaN,5
494,639ae943cd1eaa98f297a263,2022-12-14 19:24:51.573791,serie,Alfred Hitchcock Presents,Alfred Hitchcock Presents,Comedy,8.5,1955–1962,14+,25,,United States,Series of unrelated short stories covering ele...,NaN,7

In [4]:
df['pays'].value_counts()

United States     278
United Kingdom     83
Japan              42
India              14
Italy              10
France             10
Germany             8
Australia           6
South Korea         6
Turkey              5
Canada              5
Sweden              4
New Zealand         3
Mexico              3
Soviet Union        2
Iran                2
Argentina           2
Ireland             2
Serbia              1
Fuji TV             1
Romania             1
West Germany        1
Brazil              1
Poland              1
Denmark             1
Spain               1
Lebanon             1
Norway              1
Name: pays, dtype: int64

#### Question 1 : Quel est le film le plus long ?

In [5]:
long_film =[]
for i in collection.find({"scrap_type" : "film"}).sort("time", -1).limit(1):
    long_film.append(i)

long_film

[{'_id': ObjectId('639ae92fcd1eaa98f297a121'),
  'date': '2022-12-15 09:35:12.387719',
  'scrap_type': 'film',
  'title': 'Gone with the Wind',
  'original_title': 'Gone with the Wind',
  'genre': 'Drama',
  'score': 8.2,
  'annee': '1939',
  'public': 'Tous publics',
  'time': 238,
  'langue': '',
  'pays': 'United States',
  'description': 'The manipulative daughter of a Georgia plantation owner conducts a turbulent romance with a roguish profiteer during the American Civil War and Reconstruction periods.',
  'acteur': " Thomas Mitchell, Barbara O'Neil, Vivien Leigh, Evelyn Keyes, Ann Rutherford"}]

#### Question 2 : Quels sont les 5 films les mieux notés ?

In [6]:
note_film =[]
for i in collection.find({"scrap_type" : "film"}).sort("score", -1).limit(5):
    note_film.append(i)

df_note = pd.DataFrame(note_film)

df_note

,_id,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur
0,639ae923cd1eaa98f297a075,2022-12-15 09:34:23.621667,film,The Shawshank Redemption,The Shawshank Redemption,Drama,9.3,1994,Tous publics avec avertissement,142,English,United States,Two imprisoned men bond over a number of years...,"Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
1,639ae923cd1eaa98f297a076,2022-12-15 09:36:08.330718,film,The Godfather,The Godfather,Crime,9.2,1972,Tous publics avec avertissement,175,"English,Italian,Latin",United States,The aging patriarch of an organized crime dyna...,"Marlon Brando, Al Pacino, James Caan, Richard..."
2,639ae924cd1eaa98f297a078,2022-12-15 09:36:08.649635,film,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,Action,9.0,2003,Tous publics,201,"English,Quenya,Old English,Sindarin",New Zealand,Gandalf and Aragorn lead the World of Men agai...,"Noel Appleby, Ali Astin, Sean Astin, David As..."
3,639ae924cd1eaa98f297a079,2022-12-15 09:36:06.909674,film,Schindler's List,Schindler's List,Biography,9.0,1993,Tous publics avec avertissement,195,"English,Hebrew,German,Polish,Latin",United States,"In German-occupied Poland during World War II,...","Liam Neeson, Ben Kingsley, Ralph Fiennes, Car..."
4,639ae924cd1eaa98f297a077,2022-12-15 09:36:09.040363,film,The Dark Knight,The Dark Knight,Action,9.0,2008,Tous publics,152,"English,Mandarin",United States,When the menace known as the Joker wreaks havo...,"Christian Bale, Heath Ledger, Aaron Eckhart, ..."

#### Question 3 : Dans combien de films a joué Morgan Freeman ? Tom Cruise ?

In [7]:
count = collection.count_documents({"scrap_type":"film","acteur" : {"$regex" : "Morgan Freeman"}})

count

4

In [8]:
count = collection.count_documents({"scrap_type":"film","acteur" : {"$regex" : "Tom Cruise"}})

count

1

#### Question 4 : Quels sont les 3 meilleurs films d’horreur ? Dramatique ? Comique ?

In [9]:
list_horror = []

for i in collection.find({"scrap_type":"film","genre" : "Horror"}).sort("score", -1).limit(3):
    list_horror.append(i)

df_horror = pd.DataFrame(list_horror)

df_horror

,_id,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur
0,639ae926cd1eaa98f297a0a3,2022-12-15 09:35:54.283706,film,Alien,Alien,Horror,8.5,1979,Tous publics avec avertissement,117,English,United Kingdom,The crew of a commercial spacecraft encounter ...,"Tom Skerritt, Sigourney Weaver, Veronica Cart..."
1,639ae926cd1eaa98f297a0a6,2022-12-15 09:34:28.272226,film,Psycho,Psycho,Horror,8.5,1960,Tous publics avec avertissement,109,,United States,"A Phoenix secretary embezzles $40,000 from her...","Anthony Perkins, Vera Miles, John Gavin, Jane..."
2,639ae92dcd1eaa98f297a10e,2022-12-15 09:35:12.909781,film,The Thing,The Thing,Horror,8.2,1982,Tous publics avec avertissement,109,,United States,A research team in Antarctica is hunted by a s...,"Kurt Russell, Wilford Brimley, T.K. Carter, D..."

In [10]:
list_drama = []

for i in collection.find({"scrap_type":"film","genre" : "Drama"}).sort("score", -1).limit(3):
    list_drama.append(i)

df_drama = pd.DataFrame(list_drama)

df_drama

,_id,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur
0,639ae923cd1eaa98f297a075,2022-12-15 09:34:23.621667,film,The Shawshank Redemption,The Shawshank Redemption,Drama,9.3,1994,Tous publics avec avertissement,142,English,United States,Two imprisoned men bond over a number of years...,"Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
1,639ae924cd1eaa98f297a081,2022-12-15 09:36:06.410329,film,Fight Club,Fight Club,Drama,8.8,1999,Tous publics avec avertissement,139,English,Germany,An insomniac office worker and a devil-may-car...,"Edward Norton, Brad Pitt, Meat Loaf, Zach Gre..."
2,639ae924cd1eaa98f297a082,2022-12-15 09:36:06.587802,film,Forrest Gump,Forrest Gump,Drama,8.8,1994,Tous publics,142,English,United States,"The presidencies of Kennedy and Johnson, the V...","Tom Hanks, Rebecca Williams, Sally Field, Mic..."

In [11]:
list_comedy = []

for i in collection.find({"scrap_type":"film","genre" : "Comedy"}).sort("score", -1).limit(3):
    list_comedy.append(i)

df_comedy = pd.DataFrame(list_comedy)

df_comedy

,_id,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur
0,639ae925cd1eaa98f297a08d,2022-12-15 09:34:25.484848,film,Life Is Beautiful,La vita è bella,Comedy,8.6,1997,Tous publics,116,"Italian,German,English",Italy,When an open-minded Jewish waiter and his son ...,"Roberto Benigni, Nicoletta Braschi, Giorgio C..."
1,639ae927cd1eaa98f297a0a9,2022-12-15 09:35:56.496269,film,Modern Times,Modern Times,Comedy,8.5,1936,Tous publics,87,English,United States,The Tramp struggles to live in modern industri...,"Charles Chaplin, Paulette Goddard, Henry Berg..."
2,639ae927cd1eaa98f297a0aa,2022-12-15 09:35:54.667028,film,City Lights,City Lights,Comedy,8.5,1931,Tous publics,87,"None,English",United States,"With the aid of a wealthy erratic tippler, a d...","Virginia Cherrill, Florence Lee, Harry Myers,..."

#### Question 5 : Parmi les 100 films les mieux notés, quel pourcentage sont américains ? Français ?

In [14]:
top_100_states = []
top_100_france = []

for film in collection.find({"scrap_type":"film"}).sort("score", -1).limit(100):
    if film['pays'] == "United States":
        top_100_states.append(film)
    elif film['pays'] == "France":
        top_100_france.append(film)

pourcent_states = "Il y a " + str(len(top_100_states)) + '% de films américains dans le top 100'
pourcent_france = "Il y a " + str(len(top_100_france)) + '% de films américains dans le top 100'

pourcent_states,pourcent_france

('Il y a 62% de films américains dans le top 100',
 'Il y a 4% de films américains dans le top 100')

#### Question 6 : Quel est la durée moyenne en fonction du genre ?

In [15]:
pipe = [
    {
        '$group': {
            '_id': "$genre",
            'mean': {"$avg": "$time"}
        }
    }
]

In [16]:
result = collection.aggregate(pipe)

avg = []

for e in result:
    avg.append(e)

df_avg = pd.DataFrame(avg)

df_avg['mean'] = df_avg['mean'].apply(lambda x : round(x,2))

df_avg = df_avg.sort_values('_id')

df_avg

            _id    mean
7        Action  113.71
5     Adventure  123.07
10    Animation   48.81
4     Biography  164.23
11       Comedy   58.50
0         Crime   90.92
2   Documentary  267.00
9         Drama  125.76
8     Film-Noir   93.00
12       Horror  114.25
1       Mystery  122.75
3    Reality-TV    1.00
6       Western  148.50

### Close Client

In [ ]:
client.close()